

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oregano&display=swap');

.magic {
    // border: 3px solid red;
    font-size: 24px;
    color: white;
    // width: 95%;
    margin: 0 auto;

    @include max-mixin(920px) {
        width: 85%;
        margin: 0;
    }
    @include max-mixin(700px) {
        width: 100%;
        margin: 20px;
    }
    .magic__put {
        font-family: 'Oregano', cursive;
    }

    .magic__contact {
        font-family: 'Open Sans', sans-serif;
    }
    @include max-mixin(450px) {
        // text-align: left;
        // width: 300px;
        // padding-left: 10;
    }
    @include max-mixin(350px) {
        // text-align: left;
        // width: 250px;
        // padding-left: 10;
        // padding-left: 50px;
        // padding-right: 25px;
        // margin-left: 25px;
    }

}