/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 29, 2018, 10:01:37 AM
    Author     : Norm
*/

@import url("https://fonts.googleapis.com/css?family=Major+Mono+Display|Open+Sans:400,400i,600,700,800");
$menu-background-color: #f6f8f9;
$menu-background-color1: red; // #F6F8F9;
$menu-background-color2: blue; // #F6F8F9;
%menu-background {
    background-image: linear-gradient(to right, $menu-background-color1, $menu-background-color1);
}
@import "common";
// $menu-background-color: #DBE3F6;
@import "headerIndex";

.spacer30 {
    height: 30px;
}
.spacer20 {
    height: 20px;
}

.spacer10 {
    height: 10px;
}

@font-face {
    font-family: "WizardsMagic";
    src: url("../fonts/Wizards Magic.ttf");
}

@mixin wizard-font {
    font-family: WizardsMagic;
    font-size: 16;
    font-weight: bold;
}
@mixin dancing-font {
    font-family: "Dancing Script", cursive;
    font-size: 64px;
    font-weight: bold;
}

@mixin min-mixin($arg) {
    @media screen and (min-width: $arg) {
        @content;
    }
}

@mixin min-max-mixin($arg1, $arg2) {
    @media screen and (min-width: $arg1) and (max-width: $arg2) {
        @content;
    }
}

@mixin max-mixin($arg) {
    @media screen and (max-width: $arg) {
        @content;
    }
}
$font-size: 16px;

main {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;


    .content {
        // border: 3px solid red;
        position: relative;


        text-align: center;
        img {
            width: 100%;
            background-color: lightgrey;
        }

        .logo {
            position: absolute;
            width: 100%;
            top: 22%; 
            left: 50%;
            transform: translate(-50%, -50%);

        }
        .magic {
            position: absolute;
            width: 100%;
            top: 80%; 
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
