/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 29, 2018, 10:01:37 AM
    Author     : Norm
*/
@import url("https://fonts.googleapis.com/css?family=Major+Mono+Display|Open+Sans:400,400i,600,700,800");
@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC|Italianno&display=swap');
$menu-background-color: #e8eced;
@import "common";

.spacer30 {
    height: 30px;
}
.spacer20 {
    height: 20px;
}

.spacer10 {
    height: 10px;
}

@font-face {
    font-family: "WizardsMagic";
    src: url("../fonts/Wizards Magic.ttf");
}

@mixin wizard-font {
    font-family: WizardsMagic;
    font-size: 16;
    font-weight: bold;
}
@mixin dancing-font {
    font-family: "Dancing Script", cursive;
    font-size: 64px;
    font-weight: bold;
}

@mixin min-mixin($arg) {
    @media screen and (min-width: $arg) {
        @content;
    }
}

@mixin min-max-mixin($arg1, $arg2) {
    @media screen and (min-width: $arg1) and (max-width: $arg2) {
        @content;
    }
}

@mixin max-mixin($arg) {
    @media screen and (max-width: $arg) {
        @content;
    }
}
$font-size: 16px;
$breakpt1: 850px;

main {
    margin: 0 auto;
    text-align: center;
    font-size: 28px;
    /*word-spacing: -5px;*/
    /*letter-spacing: 20px;*/

    .php-output {
        color: red;
        font-family: Arial;
        font-size: 22px;
    }

    .text {
        .large-text {
            font-size: 62px;
        }
        .under-construction {
            font-size: 16px;
        }
    }

    .small-text {
        font-size: 28px;
        letter-spacing: 2px;
        word-spacing: -10px;
        font-weight: bold;
    }
    @include dancing-font;
    /*  font-family: 'Allura', cursive;
      font-family: 'Zeyada', cursive;*/

    .portfolio {
        position: relative;
        left: -8px;
        top: -8px;
        width: 110vw;

        background-image: url("../images/hero_folio1.png");
        // width: 100%;
        height: auto;
        background-size: cover;
        background-repeat: no-repeat;
        // background-position: bottom;
        background-position-x: center;
        background-position-x: left;
        background-position-y: bottom;
        .the-strip {
            width: 100%;
            display: flex;
            padding-top: 200px;
            padding-left: 20%;
            justify-content: flex-start;
            font-family: Arial, Helvetica, sans-serif;
            overflow: auto;
            @include max-mixin(820px) {
                padding-left: 10%;
            }
            @include max-mixin(700px) {
                flex-direction: column;
                flex-direction: column-reverse;
                justify-content: center;
                padding-left: 0;
                padding-top: 150px;
                background-position-x: right;
            }
            @include max-mixin(450px) {
                width: 300px;
                padding-left: 20px;
            }
            @include max-mixin(350px) {
                width: 250px;
                padding-left: 10px;
            }

            .box {
                // border: 3px solid red;
                width: 350px;
                height: auto;
                // background-color: white;
                // border: 2px solid red;
                color: 93999a;
                // margin-right: 10%;
                @include max-mixin(450px) {
                    // width: 300px;
                    // padding-left: 50px;
                    text-align: center;
                }
            }
            // .box0 {
            //     grid-column: 2 / span 2;
            //     grid-row: 1 / span 1;
            //     @import 'menu2';

            // }

            .box1 {
                border-block: 2px solid rgba(112, 112, 112, 1);
                background-color: rgba(75, 86, 99, 0.59);
                // display: flex;
                flex-direction: column;
                color: white;
                text-decoration: none;
                // height: auto;
                @include max-mixin($breakpt1) {
                    justify-content: flex-start;
                    margin: 0 auto;
                    padding-left: 0;
                    // width: 250px;
                }
                @include max-mixin(450px) {
                    width: 300px;
                    width: 100%;
                    padding-left: 0;
                }

                .box11 {
                    // border: 3px solid blue;
                    font-size: 32px;
                    padding-top: 10px;
                    padding-bottom: 6px;
                }
                .box12,
                .box14,
                .box16,
                .box18 {
                    // border: 3px solid blue;
                    img {
                        width: 280px;
                        // width: 80%;
                        height: auto;
                        text-decoration: none;
                        margin: 0 auto;
                        @include max-mixin($breakpt1) {
                            justify-content: center;
                            margin: 0 auto;
                            padding-left: 0;
                            // width: 220px;
                        }
                    }
                    text-decoration: none;
                }

                .box13,
                .box15,
                .box17,
                .box19 {
                    // border: 3px solid blue;
                    // height: 50px;
                    font-size: 20px;
                    color: white;
                    padding: 10px;
                    a {
                        // justify-self: center;
                        color: white;
                    }
                }
            }

            .box2 {
                // border: 3px solid red;
                // padding-left: 50px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                height: auto;
                width: 350px;
                // overflow: auto;
                margin: 0 auto;
                @include max-mixin($breakpt1) {
                    // justify-content: center;
                    // margin: 0 auto;
                    // padding-left: 25px;
                    width: 350px;
                    height: auto;
                }
                @include max-mixin(450px) {
                    width: 300px;
                    padding-left: 20px;
                }
                // @include max-mixin(325px) {
                //     // width: 250px;
                //     padding-left: 10px;
                //     padding-left: 10px;
                // }
                .box20 {
                    width: 350px;
                    .logo {
                        color: white;
                    }
                }
                @include max-mixin(350px) {
                    // width: 250px;
                    // width: 80%;
                    padding-left: 10px;
                    margin-left: 10px;
                }
                .box21 {
                    width: 80%;
                    padding-top: 15px;
                    // height: 50px;
                    background-color: rgba(255, 255, 255, 0.59);
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 32px;
                    font-weight: normal;
                    padding-left: 20px;
                    padding-right: 20px;
                    text-align: center;
                    margin: 0 auto;

                    @include max-mixin($breakpt1) {
                        background-color: rgba(255, 255, 255, 0.59);
                        color: black; //white;
                        font-weight: normal;
                        text-align: center;
                        margin: 0;
                        // width: 350px;
                        // padding-left: 20px;
                        // padding-right: 15px;
                    }
                    @include max-mixin(700px) {
                        width: 100%;
                    //     width: 300px;
                    //     padding-left: 10px;
                    //     margin-left: 30px;
                    //     padding-right: 10px;
                    }
                    @include max-mixin(350px) {
                    //     // width: 250px;
                    //     padding-left: 10px;
                    //     margin: 0 auto;
                    //     align-self: center;
                    //     margin-right: 20px;
                        width: 100%;
                    }
                }
                .box22 {
                    // border: 3px solid red;
                    // padding-top: 25px;
                    // height: 280px;
                    background-color: rgba(255, 255, 255, 0.59);
                    font-family: Open Sans;
                    font-size: 16px;
                    font-weight: normal;
                    text-align: left;
                    margin: 0 auto;
                    width: 80%;
                    padding-left: 20px;
                    padding-right: 20px;
                    // overflow: auto;
                    // @include max-mixin(800px) {
                    //     overflow: auto;
                    // }
                    @include max-mixin($breakpt1) {
                        background-color: rgba(255, 255, 255, 0.59);
                        color: black; //white;
                        font-weight: normal;
                        // overflow: hidden;
                        padding-left: 20px;
                        // width: 350px;
                        height: auto;
                        margin: 0;
                    }
                    @include max-mixin(700px) {
                        width: 100%;
                    }
                    // @include max-mixin(450px) {
                    //     width: 300px;
                    //     padding-left: 10px;
                    //     margin-left: 30px;
                    // }
                    @include max-mixin(350px) {
                    //     // width: 250px;
                    //     // padding-left: 10px;
                        width: 95%;
                        padding-left: 25px;
                        padding-right: 15px;
                        margin-left: 25px;
                    }

                    .make-bold {
                        font-weight: bold;
                    }
                    .wrought-iron {
                        font-family: 'IM Fell English SC', serif;
                    }
                    .village-weaver {
                        font-family: 'Italianno', cursive;
                    }
                }
                .box23 {
                }

                .box23,
                .box24 {
                    width: 100%;
                    @include max-mixin(900px) {
                        width: 95%;
                    }
                    @include max-mixin(850px) {
                        padding-left: 0;
                    }
                    // border: 3px solid red;
                    // font-family: Arial, Helvetica, sans-serif;
                    // color: white;
                    // font-size: 24px;
                    // font-weight: bold;
                    // width: 400px;
                    // margin: 0 auto;
                    // padding-left: -50px;
                    // position: relative;
                    // left: -50px;
                    // @include max-mixin(750px) {
                    //     font-size: 20px;
                    // }
                    // @include max-mixin($breakpt1) {
                    //     display: none;
                    // }
                }
            }
            .box3 {
            }
        }
    }
}
